{% extends "base.html" %}
{% load static %}

{% block title %}
  Home
{% endblock title %}
{% block css %}

  <style>
      .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
      }
      .card:hover {
        transform: translateY(-10px);
      }
      .footer {
        padding: 20px;
        background-color: #343a40;
        color: white;
        text-align: center;
        margin-top: 50px;
      }
      .btn-lg {
        padding: 15px 30px;
      }

      @media (min-width: 1440px) {
        .custome-container {
          margin-top: 7.5rem !important;
        }
      }
  </style>
{% endblock css %}
{% block content %}

  <!-- Features Section -->
  <div class="container custome-container mt-5">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body">
            <h5 class="card-title">Submit Attendance</h5>
            <p class="card-text">Easily submit attendance for students with a simple form interface.</p>
            <a href="{% url 'class_selection' %}?source=attendance_submit" class="btn btn-primary">Submit Attendance</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body">
            <h5 class="card-title">View Weekly Reports</h5>
            <p class="card-text">Get detailed attendance data for the last week.</p>
            <a href="#" class="btn btn-primary">Weekly Report</a>
            {% comment %} <a href="{% url 'attendance_report' %}?report_type=weekly" class="btn btn-primary">Weekly Report</a> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body">
            <h5 class="card-title">View Monthly Reports</h5>
            <p class="card-text">Analyze attendance patterns with monthly reports.</p>
            <a href="#" class="btn btn-primary">Monthly Report</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block js %}

{% endblock js %}



